.btn-group-lg>.btn, .btn-lg {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .1rem;
    background-color: #AF7272;
    border: none;
    text-transform: uppercase;
    font-family: 'Sarabun', sans-serif;
    color: #fff;
}

.btn.disabled, .btn:disabled {
    opacity: 1;
}

