/*
.btn-danger {
  float: right;
  color: #fff;
    background-color: #AF7272;
    border-color: #AF7272;
}
*/

.btn-outline-dark {
	float: right;
    color: #343a40;
    background-color: transparent;
    background-image: none;
    border-color: #343a40;
}

.btn2 {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid ;
    padding: .275rem .75rem;
    font-size: 0.8rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}