
.list-container2 {
  max-height: 100%;
/*   border: none; */

  text-align: center;
  
     width:100%;
     height: 100%;
     
    

  
 
}

.list-group2{ max-width: 800px !important;
  justify-content: center;
    justify-content: center!important;
    height: 80%;
    text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding:  45px;
     border:solid 6px #dfc6ab;
    
}

.list-group-item3{
 display: block;
 padding:  2%;
}




.logo {
  margin:0px 0px 0% 0px;
  max-width: 100%;
  height: auto;
	display: block;
    margin-right: auto;
    margin-left: auto;
}



