

.btn3 {
		  margin-right: auto;
    margin-left: auto;
    display: block;
    font-weight: 400;
    text-align: center;   
    padding: .9rem 2rem;
    font-size: 1.2rem;
        	padding: 0 1rem;
    font-size: 1.25rem;
	line-height:   -190%;
	    border-radius: .1rem;
    background-color: #AF7272;
    border: none;
    text-transform: uppercase;
    font-family: 'Sarabun', sans-serif;
    color: #fff;
     
     
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


    
    
.vl {vertical-align: middle;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	
	
	
}